.hab {
	margin: 2rem 0;
	padding: 2rem 1rem;
	border-bottom: 1px solid rgb(82, 82, 82);
}
.hab__container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.hab__content > h2 {
	background: rgba(189, 189, 68, 1);
	background: -moz-linear-gradient(left, rgba(189, 189, 68, 1) 0%, rgba(217, 24, 75, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(189, 189, 68, 1)), color-stop(100%, rgba(217, 24, 75, 1)));
	background: -webkit-linear-gradient(left, rgba(189, 189, 68, 1) 0%, rgba(217, 24, 75, 1) 100%);
	background: -o-linear-gradient(left, rgba(189, 189, 68, 1) 0%, rgba(217, 24, 75, 1) 100%);
	background: -ms-linear-gradient(left, rgba(189, 189, 68, 1) 0%, rgba(217, 24, 75, 1) 100%);
	background: linear-gradient(to right, rgba(189, 189, 68, 1) 0%, rgba(217, 24, 75, 1) 100%);
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: 1.5px;
	font-weight: 700;
	margin-bottom: 1rem;
	transition: 0.6s;
}
.hab__content > h2:hover {
	transform: translatex(2px);
}
.hab__content > p {
	letter-spacing: 2px;
	font-weight: 300;
	line-height: 2;
	text-align: justify;
	color: rgb(0, 0, 0);
	padding: 0 1rem;
}
.hab__cards {
	display: flex;
    flex-direction: column;
	justify-content: center;
    list-style: none;
	color: rgb(160, 160, 160);
	gap: 2rem;
	margin: 1rem 0;
}
.hab__cards > li {
	background-color: #1d1d1d;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 90%;
	align-items: center;
	transition: 0.5s;
	box-shadow: 1px 1px 25px 5px rgba(0, 0, 0, 0.5);
}
.hab__cards  > li:hover {
	color: white;
	transform: scale(1.02);
	box-shadow: 1px 1px 10px 5px rgba(48, 48, 48, 0.5);
}
.hab__cards > li > i {
	font-size: 60px;
}
.hab__cards > li > span {
	font-weight: 500;
}
.brand-1 {
	border-top: 3px solid orangered;
}
.brand-2 {
	border-top: 3px solid blue;
}
.brand-3 {
	border-top: 3px solid pink;
}
.brand-4 {
	border-top: 3px solid yellow;
}
.brand-5 {
	border-top: 3px solid black;
}
.brand-6 {
	border-top: 3px solid lightblue;
}
.brand-7 {
	border-top: 3px solid green;
}
.brand-8 {
	border-top: 3px solid rgb(0, 109, 128);
}
.brand-9 {
	border-top: 3px solid rgb(128, 0, 0);
}
.brand-10 {
	border-top: 3px solid rgb(255, 2, 2);
}
.hab{
    width: 100%;
    padding: 2rem 0;
}
.hab__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.hab__cards > li {
    width: 150px;
}
